<?xml version="1.0" encoding="utf-8"?>
<!--
  ~  Copyright (C) 2023  WirelessAlien <https://github.com/WirelessAlien>
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".App"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:targetApi="31" >
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.OpenWithActivity"
            android:theme="@style/AppTheme.Transparent"
            android:exported="true">
            <intent-filter android:label="Extract"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.SettingsActivity"/>

        <service
            android:name=".service.ExtractArchiveService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <service
            android:name=".service.ArchiveZipService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <service
            android:name=".service.Archive7zService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <service
            android:name=".service.ArchiveSplitZipService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <service
            android:name=".service.ExtractRarService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <service
            android:name=".service.ExtractMultipart7zService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <service
            android:name=".service.ExtractMultipartZipService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <service
            android:name=".service.ExtractCsArchiveService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <service
            android:name=".service.CompressCsArchiveService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <service
            android:name=".service.ArchiveTarService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <service
            android:name=".service.DeleteFilesService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <service
            android:name=".service.CopyMoveService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />
    </application>
</manifest>